body {
  background-color: black
}

section {
  display: block;
  width: 100px;
  height: 160px;
  background: #454545;
}

p {
  width: 25%;
  height: 25%;
  margin-left: 5%;
  padding: 5%;
  background: #422a54;
  color: #dcf4f5;
  text-align: center;
}

h1 {
  color: white;
  margin-left: 5%;
  text-decoration: underline;
   }

h2 {color: grey}
