body {
  background-color: black
}

section {
  display: block;
  width: 100px;
  height: 80px;
  background: #454545;
}

p {
  width: 500px;
  height: 25px;
  margin-left: 5%;
  padding: 5px;
  background: #422a54;
  color: #dcf4f5;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  text-decoration: underline;
  margin-left: 85px;

   }

h2 {
  color: grey;
  font-size: 45px;
  font-style: italic;
}

h3 {
  color: #2d1633;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: #dcf4f5;
  text-decoration: none;
}

.card-dreams {
  width: 500px;
  height: 20px;
  margin-left: 5%;
  padding: 5px;
  background: #3d3d3d;
  color: #dcf4f5;
  text-align: center;
  text-decoration: none;
}

.card-tarot {
  width: 500px;
  height: 600px;
  margin-left: 5%;
  padding: 5px;
  background: #3d3d3d;
  color: #dcf4f5;
  text-align: center;
  text-decoration: none;
}

.card-astro {
  width: 500px;
  height: 600px;
  margin-left: 5%;
  padding: 5px;
  background: #3d3d3d;
  color: #dcf4f5;
  text-align: center;
  text-decoration: none;
}
